[Search]
;Spaces in User Input in this section are substituted with %20
Google=http://google.com/search?q=\1
Yahoo=http://search.yahoo.com/search?p=\1
Bing=http://www.bing.com/search?q=\1
Imdb=http://www.imdb.com/find?q=\1&s=all
Manual=https://www.google.com/search?sitesearch=rainmeter.net/cms&q=\1
Gmaps=http://maps.google.com/maps?q=\1
Gimage=https://www.google.com/search?num=10&site=imghp&tbm=isch&q=\1

[Macros]
forum="http://rainmeter.net/forum"
copy=!SetClip """\1"""
shutdown=shutdown -s
restart=shutdown -r
logoff=shutdown -l
lock=rundll32.exe user32.dll, LockWorkStation
kill=taskkill /im \1.exe